body {
    font-family: "Arial", sans-serif;
}

.page {
    background-color: #D3D7D2 !important;
}

.page-content {
    background-color: white;
    width: 900px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

header {
    /*margin-left: 50%;*/
    /*display: block;*/
    /*margin--l: 10%;*/
    display: flex;
    flex-direction: row;
    gap: 1em;
    border-bottom-style: groove;
    border-color: whitesmoke;
    border-width: 2px;
    justify-content: space-between;
}

select {
    color: #858796;
}

#left-header {
    width: 100px;
    margin-bottom: 10px;
}

#header-logo {
    margin-inline: 42%;
    max-width: 85%;
}

#mid-header {
    text-align: center;
    align-self: auto;
}

#header-text a {
    text-decoration: none;
    color: black;
}

#header-text {
    margin: 5px 0 5px 0;
}

#header-subhead {
    margin: 5px 0 5px 0;
}

main {
    margin: 0 30px;
}

footer {
    height: 150px;
    background: white;
    color: black;
    margin-top: 10px;
    border-top-style: groove;
    border-color: whitesmoke;
    border-width: 2px;
}

#right-footer {
    text-align: right;
    margin-right: 32px;
    float: right;
}

#mid-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mid-footer ul li a {
    clear: left;
    list-style-type: none;
    overflow: hidden;
}

#mid-footer ul li {
    display: table-cell;
    padding: 7px;
    align-self: center;
}

#mid-footer ul li:last-child {
    border: 0;
}