#cost-of-living-quiz > div,
#transit-options > div,
#property-price-options > div,
#city-proximity-options > div,
#rent-or-buy-options > div,
#rent-questions > div,
#buy-questions > div,
#childcare-options > div {
    margin: 10px 0 10px 0;
}

.spruce-bg {
    background-color: #2b4349;
}

.spruce-text {
    color: #2b4349;
}

.btn-check:checked + .btn-outline-success {
  color: white !important;
  background-color: #2b4349 !important;
  border-color: #2b4349 !important;
}

.btn-outline-success {
  color: #2b4349 !important;
  background-color: white !important;
  border-color: #2b4349 !important;
}

h4 {
    margin-top: 20px;
}

span.note {
    color: gray;
    font-size: small;
    margin-left: 200px;
}