h1 {
    margin-top: 30px;
}

ul#cost-living {
    list-style-type: none;
}

h2.report {
    margin-top: 40px;
}

tbody {
    width: 100%;
}

div.title {
    font-weight: bold;
    font-size: 17px;
    height: 25px;
    width: 100%;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

#index-table th {
    background-color: seagreen;
    color: white;
}

#cost-living th {
    background-color: cornflowerblue;
    color: white;
}

#cost-property th {
    background-color: lightskyblue;
    color: white;
}

#child-care th {
    background-color: lightseagreen;
    color: white;
}

#health-care th {
    background-color: limegreen;
    color: white;
}

#crime-rate th {
    background-color: lightpink;
    color: white;
}

#food-option th {
    background-color: lightsalmon;
    color: white;
}

th:first-child {
    width: 500px;
}

th:not(:first-child) {
    width: 200px;
    padding: 0.75rem 0.3rem;
}

tr {
    height: 40px;
}

td:not(:first-child) {
    text-align: center;
}

.summary {
    font-weight: bold;
    height: 25px;
    font-size: 17px;
}