{% extends "capstone/base.html" %}
{% block page-title %}Methodology Page{% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "css/methodology.css" %}?{% now "U" %}">
    <h4>About This Project</h4>
    <p>The Compensation and Cost of Living Supporting System provides users an insight into the living quality in an
        area based on their income and personal household needs. In this system, users can select any metropolitan area
        from the list and their income with a selection of specific requirements such as the size of household, the
        score of a school district, and crime rate. The project can generate a tailored analytic report for users that
        illustrates whether it would be good to live in the area.
        As this is a capstone project for the CS 5934 class, the main stakeholders for this system are our professor,
        Dr. Hooshangi, and the development team. The development team contains five roles: the project manager,
        front-end developer, back-end developer, full-stack developer and data engineer. The end-user for this project is anyone
        looking for advice or information regarding living quality in a major metropolitan area in the U.S. based on
        their current household needs and income.</p>
    <h4>Team Members</h4>
    <p>Project Manager/Requirements Analysis Lead - Mark Paes</p>
    <p>Front-End Lead - Steven Barnett</p>
    <p>Back-End  Lead - Srija Gurijala</p>
    <p>Full-Stack/User Experience Lead - Xu Wang</p>
    <p>Data Lead - Chris Luersen</p>
{% endblock %}