{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Urban Advisor | {% block page-title %} {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %}?{% now "U" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/sb-admin-styles.css" %}?{% now "U" %}">
    <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>
    <script src="{% static "js/jquery.serializejson.js" %}"></script>
    <script src="{% static "js/sb-admin-scripts.js" %}"></script>
</head>

<body class="page">
<div class="page-content">
    <header>
        <a href="{% url "index" %}">
                <img id="header-logo" alt="Website Logo" src="{% static "images/new_logo.png" %}"/>
            </a>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div id="mid-footer">
            <ul>
                <li><a href={% url "about-us" %}>About Us</a></li>
                <li><a href={% url "methodology" %}>Methodology</a></li>
                <li><a href="https://code.vt.edu/cost-of-living-app/cost-of-living">GitLab Link</a></li>
            </ul>
        </div>
        <div id="right-footer">
            <div class="flexItem">
                {#                &copy; 2021 Powerful Financial#}
                &copy; 2021 Urban Advisor
            </div>
        </div>
    </footer>
</div>
</body>
</html>