{% extends "capstone/base.html" %}
{% block page-title %}Methodology Page{% endblock %}
{% load static %}
{% block content %}
    <h4>Methodology used in Calculating Life Quality Score </h4>
    <p>Life Quality Score (higher is better) is an estimated measurement of the overall life quality in a specific city.
        In the calculation of the score, we take into account Cost of Living to Income Ratio (lower is better),
        Housing Expense to Income Ratio (lower is better), Health Care Index (higher is better), Crime Index ( higher is better),
        Safety Index ( higher is better), and Food Option Index (higher is better).</p>

    The current formula:

{% endblock %}