{% extends "capstone/base.html" %}
{% block page-title %}Questionnaire Page{% endblock %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "css/questionnaire.css" %}?{% now "U" %}">
    <script src="{% static "js/questionnaire.js" %}"></script>
    <h2>Welcome to Powerful Financial</h2>
    <h4>Please answer the following questions for us to better evaluate your needs!</h4>
    <strong>* = required</strong>
    <form id="cost-of-living-quiz" action="{% url "report" %}" method="post">
        {% csrf_token %}
        <!-- Cities options -->
        <div id="cities-checkboxes">
            Cities to evaluate (<span id="at-least-one">at least one</span>, <span id="maximum-three">maximum three</span>)*:
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 p-1">
                        <label class="card text-white bg-success pt-0" for="washington-dc-checkbox"><img class="card-img-top" src="{% static "images/washington-dc.jpeg" %}" alt="Washington DC"/>
                            <div class="card-body"><input type="checkbox" id="washington-dc-checkbox" name="cities-checkbox" value="dc"
                                                      class="cities-checkbox"/> Washington DC</div>
                    </label>
                    </div>
                    <div class="col-sm-6 col-md-4 p-1">
                        <label class="card text-white bg-success pt-0" for="philadelphia-checkbox"><img class="card-img-top" src="{% static "images/philadelphia.jpeg" %}" alt="Philadelphia"/>
                            <div class="card-body"><input type="checkbox" id="philadelphia-checkbox" name="cities-checkbox" value="Philadelphia"
                                                          class="cities-checkbox"/> Philadelphia</div>
                        </label>
                    </div>
                    <div class="col-sm-6 col-md-4 p-1">
                        <label class="card text-white bg-success pt-0" for="boston-checkbox"><img class="card-img-top" src="{% static "images/boston.jpeg" %}" alt="Boston"/>
                            <div class="card-body"><input type="checkbox" id="boston-checkbox" name="cities-checkbox" value="Boston" class="cities-checkbox"/> Boston</div>
                        </label>
                    </div>
                    <div class="col-sm-6 col-md-4 p-1">
                        <label class="card text-white bg-success pt-0" for="seattle-checkbox"><img class="card-img-top" src="{% static "images/seattle.jpeg" %}" alt="Seattle"/>
                            <div class="card-body"><input type="checkbox" id="seattle-checkbox" name="cities-checkbox" value="Seattle"
                                                          class="cities-checkbox"/> Seattle</div>
                        </label>
                    </div>
                    <div class="col-sm-6 col-md-4 p-1">
                        <label class="card text-white bg-success pt-0" for="silicon-valley-checkbox"><img class="card-img-top" src="{% static "images/silicon-valley.jpeg" %}" alt="Silicon Valley"/>
                            <div class="card-body"><input type="checkbox" id="silicon-valley-checkbox" name="cities-checkbox" value="sf"
                                                          class="cities-checkbox"/> Silicon Valley</div>
                        </label>
                    </div>
                    <div class="col-sm-6 col-md-4 p-1">
                        <label class="card text-white bg-success pt-0" for="roanoke-checkbox"><img class="card-img-top" src="{% static "images/roanoke.jpeg" %}" alt="Roanoke"/>
                            <div class="card-body"><input type="checkbox" id="roanoke-checkbox" name="cities-checkbox" value="Roanoke"
                                                          class="cities-checkbox"/> Roanoke</div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Checkbox options -->
        <div>
            What are you looking for?
            <input type="checkbox" id="cost-of-living-checkbox" name="feature-option" value="cost-living" style="display: none;" checked disabled />
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <input type="checkbox" id="property-price-checkbox" name="feature-option" value="property"/>
                        <label for="property-price-checkbox">Property Price</label>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <input type="checkbox" id="childcare-checkbox" name="feature-option" value="childcare"/>
                        <label for="childcare-checkbox">Childcare</label>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <input type="checkbox" id="healthcare-checkbox" name="feature-option" value="healthcare"/>
                        <label for="healthcare-checkbox">Healthcare</label>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <input type="checkbox" id="crime-rate-checkbox" name="feature-option" value="crime-rate"/>
                        <label for="crime-rate-checkbox">Crime Rate</label>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <input type="checkbox" id="food-checkbox" name="feature-option" value="food"/>
                        <label for="food-checkbox">Food Options</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lifestyle options -->
        <h4>Lifestyle Options</h4>
        <!-- Salary box -->
        <div id="salary-question">
            <label class="form-label" for="salary">Anticipated annual income (USD)*:</label>
            <div class="input-group-text">
                <span class="input-group-text">$</span>
                <input class="form-control" type="number" id="salary" name="salary" placeholder="50000"/>
                <span class="input-group-text" id="salary-help">Numerals only</span>
            </div>
        </div>
        <!-- Members of household options -->
        <div>
            <label class="form-label" for="household-options">How many members are in your household:</label>
            <select class="form-select" id="household-options" name="household-options">
                <option value="1">1 member</option>
                <option value="2">2 members</option>
                <option value="3">3 members</option>
                <option value="4">4 members</option>
                <option value="5">5+ members</option>
            </select>
        </div>
        <!-- Eating out options -->
        <div>
            <label class="form-label" for="eating-out-options">How often do you eat meals at restaurants or get food delivered?</label>
            <select class="form-select" id="eating-out-options" name="eating-out-options">
                <option value="0">Never</option>
                <option value="1">1 time per week</option>
                <option value="2">2 times per week</option>
                <option value="3">3 times per week</option>
                <option value="4">4 times per week</option>
                <option value="5">5+ times per week</option>
            </select>
        </div>
        <!-- Inexpensive restaurant options -->
        <div>
            <label class="form-label" for="inexpensive-restaurant-options">How often do you choose expensive restaurants?</label>
            <select class="form-select" id="inexpensive-restaurant-options" name="inexpensive-restaurant-options">
                <option value="0">Never</option>
                <option value="1">1 time per week</option>
                <option value="2">2 times per week</option>
                <option value="3">3 times per week</option>
                <option value="4">4 times per week</option>
                <option value="5">5+ times per week</option>
            </select>
        </div>
        <!-- Coffee options -->
        <div>
            <label class="form-label" for="coffee-options">How often do you get coffee?</label>
            <select class="form-select" id="coffee-options" name="coffee-options">
                <option value="0">Never</option>
                <option value="1">1 time per week</option>
                <option value="2">2 times per week</option>
                <option value="3">3 times per week</option>
                <option value="4">4 times per week</option>
                <option value="5">5+ times per week</option>
            </select>
        </div>
        <!-- Going out options -->
        <div>
            <label class="form-label" for="going-out-options">How often do you pay for entertainment (movies/nightlife/etc)?</label>
            <select class="form-select" id="going-out-options" name="going-out-options">
                <option value="0">Never</option>
                <option value="1">1 time per week</option>
                <option value="2">2 times per week</option>
                <option value="3">3 times per week</option>
                <option value="4">4 times per week</option>
                <option value="5">5+ times per week</option>
            </select>
        </div>
        <!-- Smoking options -->
        <!-- maybe take this one out since most people don't smoke? or change to 1, 2, 3 packs per week, 1 every two weeks or 1 every month like clothing question-->
        <div>
            <label class="form-label" for="smoking-options">How many packs of cigarettes does your household smoke?</label>
            <select class="form-select" id="smoking-options" name="smoking-options">
                <option value="0">None</option>
                <option value="1">1 pack per week</option>
                <option value="2">2 packs per week</option>
                <option value="3">3 packs per week</option>
                <option value="4">4 packs per week</option>
                <option value="5">5+ packs per week</option>
            </select>
        </div>
        <!-- Drinking options -->
        <div>
            <label class="form-label" for="drinking-options">How often does your household drink alcohol?</label>
            <select class="form-select" id="drinking-options" name="drinking-options">
                <option value="0">Never</option>
                <option value="1">1 day per week</option>
                <option value="2">2 days per week</option>
                <option value="3">3 days per week</option>
                <option value="4">4 days per week</option>
                <option value="5">5+ days per week</option>
            </select>
        </div>
        <!-- Driving options -->
        <div>
            <label class="form-label" for="driving-options">How frequently do you drive?</label>
            <select class="form-select" id="driving-options" name="driving-options">
                <option value="0">Never</option>
                <option value="1">1 day per week</option>
                <option value="2">2 days per week</option>
                <option value="3">3 days per week</option>
                <option value="4">4 days per week</option>
                <option value="5">5+ days per week</option>
            </select>
        </div>
        <div id="when-driving">
            <label class="form-label" for="driving-distance">How many miles do you drive per day?</label>
            <div class="input-group-text">
                <input class="form-control" type="number" id="driving-distance" name="driving-distance" placeholder="0"/>
                <span class="input-group-text">miles (numerals only)</span>
            </div>
        </div>
        <!-- Rideshare options -->
        <div>
            <label class="form-label" for="rideshare-options">How frequently do you use a taxi or rideshare app?</label>
            <select class="form-select" id="rideshare-options" name="rideshare-options">
                <option value="0">Never</option>
                <option value="1">1 day per week</option>
                <option value="2">2 days per week</option>
                <option value="3">3 days per week</option>
                <option value="4">4 days per week</option>
                <option value="5">5+ days per week</option>
            </select>
        </div>
        <!-- Public transportation options -->
        <div id="transit-options">
            Does your household use public transportation?
            <div class="container">
                <div class="row">
                    <div class="col-auto form-check">
                        <input type="radio" class="btn-check" name="public-transit-options" id="public-monthly" value="Monthly" autocomplete="off">
                        <label class="btn btn-outline-success" for="public-monthly">Monthly Pass</label>
                    </div>
                    <div class="col-auto form-check">
                        <input type="radio" class="btn-check" name="public-transit-options" id="public-on-demand" value="On Demand Tickets" autocomplete="off">
                        <label class="btn btn-outline-success" for="public-on-demand">On Demand Tickets</label>
                    </div>
                    <div class="col-auto form-check">
                        <input type="radio" class="btn-check" name="public-transit-options" id="public-no" value="No" autocomplete="off" checked>
                        <label class="btn btn-outline-success" for="public-no">No</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Display the following two options dynamically
        depending on which radio button the user selects above -->
        <div id="when-public-monthly">
            <label class="form-label" for="public-transit-members">How many members of your household use a monthly public transportation
                pass?</label>
            <select class="form-select" id="public-transit-members" name="public-transit-members">
                <option value="1">1 member</option>
                <option value="2">2 members</option>
                <option value="3">3 members</option>
                <option value="4">4 members</option>
                <option value="5">5+ members</option>
            </select>
        </div>
        <div id="when-public-on-demand">
            <label class="form-label" for="public-transit-trips">How many times per week does someone in your household take public
                transportation?</label>
            <select class="form-select" id="public-transit-trips" name="public-transit-trips">
                <option value="1">1 time per week</option>
                <option value="2">2 times per week</option>
                <option value="3">3 times per week</option>
                <option value="4">4 times per week</option>
                <option value="5">5+ times per week</option>
            </select>
        </div>

        <!-- Gym options -->
        <div>
            <label class="form-label" for="gym-options">How many members of your household have a gym membership?</label>
            <select class="form-select" id="gym-options" name="gym-options">
                <option value="0">None</option>
                <option value="1">1 member</option>
                <option value="2">2 members</option>
                <option value="3">3 members</option>
                <option value="4">4 members</option>
                <option value="5">5+ members</option>
            </select>
        </div>
        <!-- Vacation spending -->
        <div id="vacation-spending-question">
            <label class="form-label" for="vacation-spending">How much money do you spend on vacations per year?*</label>
            <div class="input-group-text">
                <span class="input-group-text">$</span>
                <input class="form-control" aria-describedby="vacation-spending-help" type="number" id="vacation-spending" name="vacation-spending" placeholder="2000"/>
                <span class="input-group-text" id="vacaation-spending-help">Numerals only</span>
            </div>
        </div>
        <!-- Clothing options -->
        <!-- maybe have 1, 2, 3 times per week, every 2 weeks, and once a month------------------------------------------------->
        <div>
            <label class="form-label" for="clothing-options">How often do you buy new clothing/shoes?</label>
            <select class="form-select" id="clothing-options" name="clothing-options">
                <option value="0">Not every month</option>
                <option value="1">1 time per month</option>
                <option value="2">2 times per month</option>
                <option value="3">3 times per month</option>
                <option value="4">4 times per month</option>
                <option value="5">5+ times per month</option>
            </select>
        </div>


        <div id="property-price-options">
            <h4>Property Price Options</h4>
            <!-- City proximity options -->
            <div id="city-proximity-options">
                Where are you looking to live?*
                <div class="container">
                    <div class="row">
                        <div class="col-auto form-check">
                            <input type="radio" class="btn-check" id="city-center" name="city-proximity-options" value="City Center" >
                            <label class="btn btn-outline-success" for="city-center">Inside City Center</label>
                        </div>
                        <div class="col-auto form-check">
                            <input type="radio" class="btn-check" id="suburb" name="city-proximity-options" value="Suburb">
                            <label class="btn btn-outline-success" for="suburb">Outside of City Center</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rent or buy options -->
            <div id="rent-or-buy-options">
                Do you plan to rent or buy?*
                <div class="container">
                    <div class="row">
                        <div class="col-auto form-check">
                            <input type="radio" class="btn-check" id="rent" name="rent-or-buy-options" value="Rent" >
                            <label class="btn btn-outline-success" for="rent">Rent</label>
                        </div>
                        <div class="col-auto form-check">
                            <input type="radio" class="btn-check" id="buy" name="rent-or-buy-options" value="Buy">
                            <label class="btn btn-outline-success" for="buy">Buy</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Rent question -->
            <div id="rent-questions">
                How many bedrooms are you looking for in your rental property?*
                <div class="container">
                    <div class="row">
                        <div class="col-auto">
                            <input type="radio" class="btn-check" id="one-bedroom" name="rental-bedroom-options" value="One Bedroom" >
                            <label class="btn btn-outline-success" for="one-bedroom">1 bedroom</label>
                        </div>
                        <div class="col-auto">
                            <input type="radio" class="btn-check" id="two-bedrooms" name="rental-bedroom-options" value="Two Bedrooms">
                            <label class="btn btn-outline-success" for="two-bedrooms">2 bedrooms</label>
                        </div>
                        <div class="col-auto">
                            <input type="radio" class="btn-check" id="three-bedrooms" name="rental-bedroom-options" value="Three Bedrooms">
                            <label class="btn btn-outline-success" for="three-bedrooms">3+ bedrooms</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Buy questions -->
            <div id="buy-questions">
                <div id="buy-square-footage-question">
                    <label class="form-label" for="buy-square-footage">How many square feet are you looking to buy?*</label>
                    <div class="input-group-text">
                        <input class="form-control" type="number" id="buy-square-footage" name="buy-square-footage" placeholder="2,000">
                        <span class="input-group-text">sq ft. (numerals only)</span>
                    </div>
                </div>
                <div id="down-payment-question">
                    <label class="form-label" for="down-payment">How much are you prepared to pay as a down payment?*</label>
                    <div class="input-group-text">
                        <input class="form-control" type="number" id="down-payment" name="down-payment" placeholder="10" >
                        <span class="input-group-text">% (numerals only)</span>
                    </div>
                </div>
            </div>
            <!--Add more questions here-->
        </div>

        <div id="childcare-options">
            <h4>Childcare Options</h4>
            <div id="daycare-question">
                <label class="form-label" for="daycare-numbers">Number of children going to daycare:</label>
                <select class="form-select" id="daycare-numbers" name="daycare-numbers">
                    <option value="0">0 children</option>
                    <option value="1">1 child</option>
                    <option value="2">2 children</option>
                    <option value="3">3 children</option>
                    <option value="4">4 children</option>
                    <option value="5">5+ children</option>
                </select>
            </div>
            <div id="private-school-question">
                <label class="form-label" for="private-school-numbers">Number of children going to private school:</label>
                <select class="form-select" id="private-school-numbers" name="private-school-numbers">
                    <option value="0">0 children</option>
                    <option value="1">1 child</option>
                    <option value="2">2 children</option>
                    <option value="3">3 children</option>
                    <option value="4">4 children</option>
                    <option value="5">5+ children</option>
                </select>
            </div>
        </div>
     <input class="btn btn-success" type="button" onClick="submitForms()" id="submit-button" name="submit-button" value="Submit">
    </form>
{% endblock %}