{% extends "capstone/base.html" %}
{% block page-title %}Questionnaire Page{% endblock %}
{% load static %}

{% block content %}
    <h2>Welcome to Powerful Financial</h2>
    <h4>Please answer the following questions for us to better evaluate your needs!</h4>
    <form id="cost-of-living-quiz" action="{% url "report" %}" method="post">
        {% csrf_token %}
        <!-- Cities options -->
        <div id="cities-checkboxes">
            Cities to evaluate (maximum three):
            <input type="checkbox" id="washington-dc-checkbox" name="cities-checkbox" value="Washington D.C."
                   class="cities-checkbox"/>
            <label for="washington-dc-checkbox">Washington DC</label>
            <input type="checkbox" id="philadelphia-checkbox" name="cities-checkbox" value="Philadelphia"
                   class="cities-checkbox"/>
            <label for="philadelphia-checkbox">Philadelphia</label>
            <input type="checkbox" id="boston-checkbox" name="cities-checkbox" value="Boston" class="cities-checkbox"/>
            <label for="boston-checkbox">Boston</label>
            <input type="checkbox" id="seattle-checkbox" name="cities-checkbox" value="Seattle"
                   class="cities-checkbox"/>
            <label for="seattle-checkbox">Seattle</label>
            <input type="checkbox" id="silicon-valley-checkbox" name="cities-checkbox" value="Silicon Valley"
                   class="cities-checkbox"/>
            <label for="silicon-valley-checkbox">Silicon Valley</label>
            <input type="checkbox" id="roanoke-checkbox" name="cities-checkbox" value="Roanoke"
                   class="cities-checkbox"/>
            <label for="roanoke-checkbox">Roanoke</label>
        </div>
        <!-- Checkbox options -->
        <div>
            What are you looking for?
            <input type="checkbox" id="cost-of-living-checkbox" name="feature-option" value="cost-living" checked disabled />
            <label for="cost-of-living-checkbox">Cost of Living</label>
            <input type="checkbox" id="property-price-checkbox" name="feature-option" value="property"/>
            <label for="property-price-checkbox">Property Price</label>
            <input type="checkbox" id="healthcare-checkbox" name="feature-option" value="healthcare"/>
            <label for="healthcare-checkbox">Healthcare</label>
            <input type="checkbox" id="crime-rate-checkbox" name="feature-option" value="crime-rate"/>
            <label for="crime-rate-checkbox">Crime Rate</label>
            <input type="checkbox" id="childcare-checkbox" name="feature-option" value="childcare"/>
            <label for="childcare-checkbox">Childcare</label>
        </div>
        <!-- Lifestyle options -->
        <h4>Lifestyle Options</h4>
        <!-- Salary box -->
        <div>
            <label for="salary">Anticipated annual salary (USD):</label>
            <input type="number" id="salary" name="salary" placeholder="50,000" required/>
        </div>
        <!-- Members of household options -->
        <div>
            <label for="household-options">How many members are in your household:</label>
            <select id="household-options" name="household-options">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5+</option>
            </select>
        </div>
        <!-- Eating out options -->
        <div>
            <label for="eating-out-options">How often do you eat meals at restaurants or get food delivered?</label>
            <select id="eating-out-options" name="eating-out-options">
                <option value="0">Never</option>
                <option value="1">1 per week</option>
                <option value="2">2 per week</option>
                <option value="3">3 per week</option>
                <option value="4">4 times per week</option>
                <option value="5">5+ times per week</option>
            </select>
        </div>
        <!-- Inexpensive restaurant options -->
        <div>
            <label for="inexpensive-restaurant-options">How often do you choose expensive restaurants?</label>
            <select id="inexpensive-restaurant-options" name="inexpensive-restaurant-options">
                <option value="0">Never</option>
                <option value="1">1 time per week</option>
                <option value="2">2 time per week</option>
                <option value="3">3 time per week</option>
                <option value="4">4 time per week</option>
                <option value="5">5+ time per week</option>
            </select>
        </div>
        <!-- Coffee options -->
        <div>
            <label for="coffee-options">How often do you get coffee?</label>
            <select id="coffee-options" name="coffee-options">
                <option value="0">Never</option>
                <option value="1">1 time per week</option>
                <option value="2">2 time per week</option>
                <option value="3">3 time per week</option>
                <option value="4">4 time per week</option>
                <option value="5">5+ time per week</option>
            </select>
        </div>
        <!-- Going out options -->
        <div>
            <label for="going-out-options">How often do you pay for entertainment (movies/nightlife/etc)?</label>
            <select id="going-out-options" name="going-out-options">
                <option value="0">Never</option>
                <option value="1">1 time per week</option>
                <option value="2">2 time per week</option>
                <option value="3">3 time per week</option>
                <option value="4">4 time per week</option>
                <option value="5">5+ time per week</option>
            </select>
        </div>
        <!-- Smoking options -->
        <!-- maybe take this one out since most people don't smoke? or change to 1, 2, 3 packs per week, 1 every two weeks or 1 every month like clothing question-->
        <div>
            <label for="smoking-options">How many packs of cigarettes does your household smoke?</label>
            <select id="smoking-options" name="smoking-options">
                <option value="0">None</option>
                <option value="1">1 pack per week</option>
                <option value="2">2 packs per week</option>
                <option value="3">3 packs per week</option>
                <option value="4">4 packs per week</option>
                <option value="5">5+ packs per week</option>
            </select>
        </div>
        <!-- Drinking options -->
        <div>
            <label for="drinking-options">How often does your household drink alcohol?</label>
            <select id="drinking-options" name="drinking-options">
                <option value="0">Never</option>
                <option value="1">1 day per week</option>
                <option value="2">2 days per week</option>
                <option value="3">3 days per week</option>
                <option value="4">4 days per week</option>
                <option value="5">5+ days per week</option>
            </select>
        </div>
        <!-- Drinking options -->
        <div>
            <label for="driving-options">How frequently do you drive?</label>
            <select id="driving-options" name="driving-options">
                <option value="0">Never</option>
                <option value="1">1 day per week</option>
                <option value="2">2 days per week</option>
                <option value="3">3 days per week</option>
                <option value="4">4 days per week</option>
                <option value="5">5+ days per week</option>
            </select>
        </div>
        <!-- Rideshare options -->
        <div>
            <label for="rideshare-options">How frequently do you use a taxi or rideshare app?</label>
            <select id="rideshare-options" name="rideshare-options">
                <option value="0">Never</option>
                <option value="1">1 day per week</option>
                <option value="2">2 days per week</option>
                <option value="3">3 days per week</option>
                <option value="4">4 days per week</option>
                <option value="5">5+ days per week</option>
            </select>
        </div>
        <!-- Public transportation options -->
        <div id="transit-options">
            Does your household use public transportation?
            <input type="radio" id="public-monthly" name="public-transit-options" value="Monthly">
            <label for="public-monthly">Monthly Pass</label>
            <input type="radio" id="public-on-demand" name="public-transit-options" value="On Demand Tickets">
            <label for="public-on-demand">On Demand Tickets</label>
            <input type="radio" id="public-no" name="public-transit-options" value="No" checked>
            <label for="public-no">No</label>
        </div>

        <!-- Display the following two options dynamically
        depending on which radio button the user selects above -->
        <div id="when-public-monthly">
            <label for="public-transit-members">How many members of your household use a monthly public transportation
                pass?</label>
            <select id="public-transit-members" name="public-transit-members">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5+</option>
            </select>
        </div>
        <div id="when-public-on-demand">
            <label for="public-transit-trips">How many times per week does someone in your household take public
                transportation?</label>
            <select id="public-transit-trips" name="public-transit-trips">
                <option value="1">1 time per week</option>
                <option value="2">2 time per week</option>
                <option value="3">3 time per week</option>
                <option value="4">4 time per week</option>
                <option value="5">5+ time per week</option>
            </select>
        </div>

        <!-- Gym options -->
        <div>
            <label for="gym-options">How many members of your household have a gym membership?</label>
            <select id="gym-options" name="gym-options">
                <option value="0">None</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5+</option>
            </select>
        </div>
        <!-- Vacation spending -->
        <div>
            <label for="vacation-spending">How much money do you spend on vacations per year?</label>
            <input type="number" id="vacation-spending" name="vacation-spending" placeholder="2,000" required/>
        </div>
        <!-- Clothing options -->
        <!-- maybe have 1, 2, 3 times per week, every 2 weeks, and once a month------------------------------------------------->
        <div>
            <label for="clothing-options">How often do you buy new clothing/shoes?</label>
            <select id="clothing-options" name="clothing-options">
                <option value="0">Not every week</option>
                <option value="1">1 time per week</option>
                <option value="2">2 time per week</option>
                <option value="3">3 time per week</option>
                <option value="4">4 time per week</option>
                <option value="5">5+ time per week</option>
            </select>
        </div>
        {#    </form>#}
        {#    <form id="property-price-quiz" action="{% url "property-report" %}" method="post">#}
        {% csrf_token %}
        <div id="property-price-options">
            <h4>Property Price Options</h4>
            <!-- City proximity options -->
            <div id="city-proximity-options">
                Where are you looking to live?
                <input type="radio" id="city-center" name="city-proximity-options" value="City Center" required>
                <label for="city-center">Inside City Center</label>
                <input type="radio" id="suburb" name="city-proximity-options" value="Suburb">
                <label for="suburb">Outside of City Center</label>
            </div>

            <!-- Rent or buy options -->
            <div id="rent-or-buy-options">
                Do you plan to rent or buy?
                <input type="radio" id="rent" name="rent-or-buy-options" value="Rent" required>
                <label for="rent">Rent</label>
                <input type="radio" id="buy" name="rent-or-buy-options" value="Buy">
                <label for="buy">Buy</label>
            </div>

            <!-- Rent question -->
            <div id="rent-questions">
                How many bedrooms are you looking for in your rental property?
                <input type="radio" id="one-bedroom" name="rental-bedroom-options" value="One Bedroom" required>
                <label for="one-bedroom">1 bedroom</label>
                <input type="radio" id="two-bedrooms" name="rental-bedroom-options" value="Two Bedrooms">
                <label for="two-bedrooms">2 bedrooms</label>
                <input type="radio" id="three-bedrooms" name="rental-bedroom-options" value="Three Bedrooms">
                <label for="three-bedrooms">3+ bedrooms</label>
            </div>

            <!-- Buy questions -->
            <div id="buy-questions">
                <label for="buy-square-footage">How many square feet are you looking to buy?</label>
                <input type="number" id="buy-square-footage" name="buy-square-footage" placeholder="2,000">
                <label for="buy-square-footage">How much you prepare for down payment?</label>
                <input type="number" id="buy-square-footage" name="down-payment" placeholder="10" > %
            </div>
            <!--Add more questions here-->
        </div>
     <input type="submit" onClick="submitForms()" id="submit-button" name="submit-button" value="Submit">
    </form>
{% endblock %}