{% extends "capstone/base.html" %}
{% block page-title %}Report Page{% endblock %}
{% load static %}
 {% load humanize %}
{% load filter_extras %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "css/report.css" %}?{% now "U" %}">
    <h1>Here is your customized financial report:</h1>
    <h2>Cost of Living Report (Monthly)</h2>
    <table id="cost-living" class="table">
        <tr>
            <th></th>
            {% for city_result in cities_living_expense %}
                <th>{{ city_result.city }}   </th>
            {% endfor %}
        </tr>
        <tr class = "category">
            <td class = "category-cell">
                <div class="title">Restaurant:</div>
            </td>
        </tr>
        <tr>
            <td>Estimated Expense:</td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.restaurant |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <div class="title">Grocery:</div>
            </td>
        </tr>
        <tr>
            <td>Estimated Grocery Expense:</td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.grocery |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
            <tr>
            <td>Estimated Smoking Expense:</td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.smoking |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>Estimated Alcohol Expense:</td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.alcohol |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <div class="title">Transportation:</div>
            </td>
        </tr>
        <tr>
            <td>Estimated Public Transportation Expense:</td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.public_transportation |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                Estimated Taxi and Ride Share Expense:
            </td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.ride_share |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                Estimated Gas Expense:
            </td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.gas |floatformat:2|intcomma}}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <div class="title">Entertainment:</div>
            </td>
        </tr>
        <tr>
            <td>
                Estimated Fitness Center Expense:
            </td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.fitness |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                Estimated Cinema and Nightlife Expense:
            </td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.cinema |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                Estimated Vacation Expense (amortized by month):
            </td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.vacation |floatformat:2|intcomma}}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <div class="title">Shopping Spending:</div>
            </td>
        </tr>
        <tr>
            <td>Estimated Shopping Spending:</td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.clothing |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <div class="title">Total Household Estimated Spending:</div>
            </td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.total |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
    </table>
    {% if user_info.property_option %}
        <h2 class="report">Cost of Property Report</h2>
        <table id="cost-property" class="table">
            <tr>
                <th class = "first-col"></th>
                {% for city_result in cities_living_expense %}
                    <th>{{ city_result.city }}   </th>
                {% endfor %}
            </tr>
            <tr>
                {% if cities_property_expense.0.rent_or_buy == "Rent" %}
                    <td>You have chosen the <strong>Rent</strong> &#8202 option</td>
                {% else %}
                    <td> You have choose the <strong>Buy</strong> &#8202 option:</td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    {% if cities_property_expense.0.rent_or_buy == "Rent" %}

                            For {{ cities_property_expense.0.property_size }} Apartment:

                    {% else %}

                            For {{ cities_property_expense.0.property_size }} &#8202 sqft:

                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Estimated Monthly Payment:
                    {% if cities_property_expense.0.rent_or_buy == "Buy" %}
                        <div>(For 20 Years Fixed Rate)</div>
                    {% endif %}
                </td>
                {% for city_property in cities_property_expense %}
                    <td>
                        ${{ city_property.monthly_payment |floatformat:2|intcomma}}
                    </td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}
    {% if user_info.healthcare %}
        <h2>Health Care Report</h2>
        <table id="health-care" class="table">
            <tr>
                <th class = "first-col"></th>
                {% for city_result in cities_living_expense %}
                    <th>{{ city_result.city }}   </th>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    <div class="title">Healthcare Quality(%):</div>
                </td>
            </tr>
            <tr>
                <td>Skill and competency of medical staff:</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.skill |floatformat:2 }} &#160 {{ city_health.skill|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Speed in completing examination and reports</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.speed |floatformat:2 }} &#160 {{ city_health.speed|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Equipment for modern diagnosis and treatment</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.equipment |floatformat:2 }} &#160 {{ city_health.equipment|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Accuracy and completeness in filling out reports</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.accuracy |floatformat:2 }} &#160 {{ city_health.accuracy|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Friendliness and courtesy of the staff</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.friendliness |floatformat:2 }} &#160 {{ city_health.friendliness|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Satisfaction with responsiveness (waiting time) in medical institutions</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.satisfaction_responsiveness |floatformat:2 }} &#160 {{ city_health.satisfaction_responsiveness|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Satisfaction with cost to you</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.satisfaction_cost |floatformat:2 }} &#160 {{ city_health.satisfaction_cost|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Convenience of location for you</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.location |floatformat:2 }} &#160 {{ city_health.location|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    <div class="title">Health Care Expense (Per Visit):</div>
                </td>
            </tr>
            <tr>
                <td>Doctor's Visit</td>
                {% for city_health in cities_health_care %}
                    <td>
                        ${{ city_health.doctor_visit |floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Dentist Visit</td>
                {% for city_health in cities_health_care %}
                    <td>
                        ${{ city_health.dentist_visit |floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Optometrist Visit</td>
                {% for city_health in cities_health_care %}
                    <td>
                        ${{ city_health.optometrist_visit |floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>RX Drug</td>
                {% for city_health in cities_health_care %}
                    <td>
                        ${{ city_health.RX_drug |floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Veterinary Visit</td>
                {% for city_health in cities_health_care %}
                    <td>
                        ${{ city_health.veterinary_visit |floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}

{% endblock %}