{% extends "capstone/base.html" %}
{% block page-title %}Report Page{% endblock %}
{% load static %}
{% load humanize %}
{% load filter_extras %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "css/report.css" %}?{% now "U" %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{% static "js/graph.js" %}"></script>

    <h1>Here is your customized financial report:</h1>
    <div id="summary">
        <p>Currently you earn ${{ user_info.salary |intcomma }} per year.</p>
        {% for city_result, salary_compare, remain_money in salary_section_list %}
            <p>To Live in <strong>{{ city_result|city_name }}</strong>:</p>
            <p> Your salary is {{ salary_compare | salary_percentage|floatformat:2 }}% {{ salary_compare|modifier }}
                than the average salary. You can save approximately ${{ remain_money |floatformat:2 }} per month.</p>
        {% endfor %}
        {#    Salary Graph#}
        <div class="container" style="width: 75%;">
            <canvas id="salary-chart"></canvas>
        </div>
        <script>
            const salaryChart = {
                type: 'bar',
                data: {
                    labels: [{%for label in labels_for_salary %}'{{label|city_name}}',{%endfor%}],
                    datasets: [{
                        label: "$USD",
                        data: {{ salary_list|safe }},
                        backgroundColor: [
                            'rgba(72,47,47)',
                            'rgba(47,72,53)',
                            'rgba(47,59,72)',
                            'rgba(102,144,157)',
                            'rgba(47,72,65)',
                            'rgba(72,72,47)',
                            'rgba(72,47,68)'
                        ],
                        borderWidth: 1
                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };
{#            {% if user_info.property_option or user_info.healthcare or user_info.childcare or user_info.crime_rate or user_info.food_option %}#}
{#        <div class="container" style="width: 75%;">#}
{#            <canvas id="index-chart"></canvas>#}
{#        </div>#}
{#    {% endif %}#}
            let indexChart = {
                type: 'bar',
                data: {
                    labels: [{%for label in index_labels %}'{{label}}',{%endfor%}],
                    datasets: [{
                        label: '{{ user_info.cities.0|city_name }}',
                        data: {{ index_data.0|safe }},
                        backgroundColor: [
                            'rgba(72,47,47)',
                            'rgba(72,47,47)',
                            'rgba(72,47,47)',
                            'rgba(72,47,47)',
                            'rgba(72,47,47)',
                            'rgba(72,47,47)',
                            'rgba(72,47,47)',

                        ],
                        borderWidth: 1
                    },
                        {% if user_info.cities.1 %}
                            {
                                label: '{{ user_info.cities.1|city_name }}',
                                data: {{ index_data.1|safe }},
                                backgroundColor: [
                                    'rgba(47,72,53)',
                                    'rgba(47,72,53)',
                                    'rgba(47,72,53)',
                                    'rgba(47,72,53)',
                                    'rgba(47,72,53)',
                                    'rgba(47,72,53)',
                                    'rgba(47,72,53)',

                                ],
                                borderWidth: 1
                            },
                        {% endif %}
                        {% if user_info.cities.2 %}
                            {
                                label: '{{ user_info.cities.2|city_name }}',
                                data: {{ index_data.2|safe }},
                                backgroundColor: [
                                    'rgba(47,59,72)',
                                    'rgba(47,59,72)',
                                    'rgba(47,59,72)',
                                    'rgba(47,59,72)',
                                    'rgba(47,59,72)',
                                    'rgba(47,59,72)',
                                    'rgba(47,59,72)',
                                ],
                                borderWidth: 1
                            }
                        {% endif %}
                    ],
                },
                options: {
                    indexAxis: 'y', // convert to horizontal bar chart
                    scales: {
                        y: {beginAtZero: true} // convert to non-stacked bar chart
                    }
                },
            };
            window.onload = function () {
                var ctx1 = document.getElementById('salary-chart').getContext('2d');
                var ctx2 = document.getElementById('index-chart').getContext('2d');
                window.myBar = new Chart(ctx1, salaryChart);
                window.myBar = new Chart(ctx2, indexChart);
            };

        </script>
        <h2 class="report">Overall Quality of Life</h2>
        <table id="index-table" class="table table-hover table-responsive">
            <thead>
            <tr>
                <th class="first-col"></th>
                {% for city_result in user_info.cities %}
                    <th>{{ city_result | city_name }}   </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Cost of Living to Income Ratio (%):</td>
                {% for city_quality in overall_quality %}
                    <td>
                        {{ city_quality.cost_of_living_ratio |floatformat:2 }}
                        <span class="rating"> <br/>{{ city_quality.cost_of_living_ratio|income_ratio_rating }}</span>
                    </td>
                {% endfor %}
            </tr>
            {% if user_info.property_option %}
                <tr>
                    <td>Housing Expense to Income Ratio (%):</td>
                    {% for city_quality in overall_quality %}
                        <td>
                            {{ city_quality.housing_expense_ratio |floatformat:2 }}
                            <br/>{{ city_quality.housing_expense_ratio|housing_ratio_rating }}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
            {% if user_info.healthcare %}
                <tr>
                    <td>Health Care Index:</td>
                    {% for city_quality in overall_quality %}
                        <td>
                            {{ city_quality.health_care_ratio |floatformat:2 }}
                            <br/>{{ city_quality.health_care_ratio|rating }}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
            {% if user_info.crime_rate %}
                <tr>
                    <td>Crime Index:</td>
                    {% for city_quality in overall_quality %}
                        <td>
                            {{ city_quality.crime_index |floatformat:2 }}
                            <br/>{{ city_quality.crime_index|rating }}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Safety Index:</td>
                    {% for city_quality in overall_quality %}
                        <td>
                            {{ city_quality.safety_index |floatformat:2 }}
                            <br/>{{ city_quality.safety_index|rating }}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
            {% if user_info.food_option %}
                <tr>
                    <td>Food Option Index:</td>
                    {% for city_quality in overall_quality %}
                        <td>
                            {{ city_quality.food_option |floatformat:2 }}
                            <br/>{{ city_quality.food_option|rating }}
                        </td>
                    {% endfor %}
                </tr>
            {% endif %}
            <tr class="summary">
                <td>Life Quality Score:</td>
                {% for city_quality in overall_quality %}
                    <td>
                        {{ city_quality.overall_index |floatformat:2 }}
                        <br/>{{ city_quality.overall_index|rating }}
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
        <div class="container" style="width: 75%;">
            <canvas id="index-chart"></canvas>
        </div>
    </div>
    <h2 class="report">Cost of Living Report (Monthly)</h2>
    <table id="cost-living" class="table table-hover table-responsive">
        <thead>
        <tr>
            <th></th>
            {% for city_result in user_info.cities %}
                <th>{{ city_result | city_name }}   </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="4">
                <div class="title">Restaurant:</div>
            </td>
        </tr>
        <tr>
            <td>Estimated Expense:</td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.restaurant |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="4">
                <div class="title">Grocery:</div>
            </td>
        </tr>
        <tr>
            <td>Estimated Grocery Expense:</td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.grocery |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>Estimated Smoking Expense:</td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.smoking |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>Estimated Alcohol Expense:</td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.alcohol |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="4">
                <div class="title">Transportation:</div>
            </td>
        </tr>
        <tr>
            <td>Estimated Public Transportation Expense:</td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.public_transportation |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                Estimated Taxi and Ride Share Expense:
            </td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.ride_share |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                Estimated Gas Expense:
            </td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.gas |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="4">
                <div class="title">Entertainment:</div>
            </td>
        </tr>
        <tr>
            <td>
                Estimated Fitness Center Expense:
            </td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.fitness |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                Estimated entertainment(movies/nightlife/etc)?:
            </td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.cinema |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                Estimated Vacation Expense:
            </td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.vacation |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="4">
                <div class="title">Shopping Spending:</div>
            </td>
        </tr>
        <tr>
            <td>Estimated Shopping Spending:</td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.clothing |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td colspan="4">
                <div class="title">Total:</div>
            </td>
        </tr>
        <tr>
            <td>
                Total Household Estimated Spending:
            </td>
            {% for city_result in cities_living_expense %}
                <td>
                    ${{ city_result.total |floatformat:2|intcomma }}
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
    {% if user_info.property_option %}
        <h2 class="report">Cost of Property Report</h2>
        <table id="cost-property" class="table table-hover table-responsive">
            <thead>
            <tr>
                <th class="first-col"></th>
                {% for city_result in user_info.cities %}
                    <th>{{ city_result | city_name }}   </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="4">
                    {% if cities_property_expense.0.rent_or_buy == "Rent" %}
                        To <strong>Rent</strong> a {{ cities_property_expense.0.property_size }} Apartment
                    {% else %}
                        To <strong>Buy</strong> a {{ cities_property_expense.0.property_size }} Square Foot Property
                    {% endif %}
                    in {{ cities_property_expense.0.proximity }}:
                </td>
            </tr>
            <tr>
                <td>Estimated Monthly Payment:
                    {% if cities_property_expense.0.rent_or_buy == "Buy" %}
                        <div>(For 20 Years Fixed Rate)</div>
                    {% endif %}
                </td>
                {% for city_property in cities_property_expense %}
                    <td>
                        ${{ city_property.monthly_payment |floatformat:2|intcomma }}
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    {% endif %}
    {% if user_info.childcare %}
        <h2 class="report">Cost of Child Care Report</h2>
        <table id="child-care" class="table table-hover table-responsive">
            <tr>
                <th class="first-col"></th>
                {% for city_result in user_info.cities %}
                    <th>{{ city_result | city_name }}   </th>
                {% endfor %}
            </tr>
            <tr>
                <td>Estimated Daycare Monthly Expense:
                </td>
                {% for city_child_care in child_care %}
                    <td>
                        ${{ city_child_care.daycare_cost |floatformat:2|intcomma }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Estimated Private School Monthly Expense:
                </td>
                {% for city_child_care in child_care %}
                    <td>
                        ${{ city_child_care.private_school_cost |floatformat:2|intcomma }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="4">
                    <div class="title">Total:</div>
                </td>
            </tr>
            <tr>
                <td>
                    Total Childcare Estimated Spending:
                </td>
                {% for city_child_care in child_care %}
                    <td>
                        ${{ city_child_care.total |floatformat:2|intcomma }}
                    </td>
                {% endfor %}
            </tr>

        </table>
    {% endif %}
    {% if user_info.healthcare %}
        <h2 class="report">Health Care Report</h2>
        <table id="health-care" class="table table-hover table-responsive">
            <tr>
                <th class="first-col"></th>
                {% for city_result in user_info.cities %}
                    <th>{{ city_result | city_name }}   </th>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="4">
                    <div class="title">Healthcare Quality (%):</div>
                </td>
            </tr>
            <tr>
                <td>Medical Staff Skill/Competency:</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.skill |floatformat:2 }}<br/>{{ city_health.skill|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Examination and Reporting Speed</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.speed |floatformat:2 }}<br/>{{ city_health.speed|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Modern Equipment</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.equipment |floatformat:2 }}<br/>{{ city_health.equipment|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Report Accuracy/Completeness</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.accuracy |floatformat:2 }}<br/>{{ city_health.accuracy|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Staff Friendliness/Courtesy</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.friendliness |floatformat:2 }}<br/>{{ city_health.friendliness|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Reasonable Responsiveness/Waiting Times</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.satisfaction_responsiveness |floatformat:2 }}<br/>{{ city_health.satisfaction_responsiveness|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Satisfaction with Cost</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.satisfaction_cost |floatformat:2 }}<br/>{{ city_health.satisfaction_cost|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Convenience of Location</td>
                {% for city_health in cities_health_care %}
                    <td>
                        {{ city_health.location |floatformat:2 }}<br/>{{ city_health.location|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="4">
                    <div class="title">Health Care Expense (Per Visit):</div>
                </td>
            </tr>
            <tr>
                <td>Doctor's Visit</td>
                {% for city_health in cities_health_care %}
                    <td>
                        ${{ city_health.doctor_visit |floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Dentist Visit</td>
                {% for city_health in cities_health_care %}
                    <td>
                        ${{ city_health.dentist_visit |floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Optometrist Visit</td>
                {% for city_health in cities_health_care %}
                    <td>
                        ${{ city_health.optometrist_visit |floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>RX Drug</td>
                {% for city_health in cities_health_care %}
                    <td>
                        ${{ city_health.RX_drug |floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Veterinary Visit</td>
                {% for city_health in cities_health_care %}
                    <td>
                        ${{ city_health.veterinary_visit |floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}
    {% if user_info.crime_rate %}
        <h2 class="report">Crime and Safety Report</h2>
        <table id="crime-rate" class="table table-hover table-responsive">
            <tr>
                <th class="first-col"></th>
                {% for city_result in user_info.cities %}
                    <th>{{ city_result | city_name }}   </th>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="4">
                    <div class="title">Crime Rates:</div>
                </td>
            </tr>
            <tr>
                <td>Crime Level</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.crime_level |floatformat:2 }}<br/>{{ city_crime.crime_level|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Crime Increasing Over Time (Past Three Years)</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.crime_increasing|floatformat:2 }}<br/>{{ city_crime.crime_increasing|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Home Invasion/Burglary Worries</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.home_broken|floatformat:2 }}<br/>{{ city_crime.home_broken|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Mugging/Robbery Worries</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.mugged_or_robbed|floatformat:2 }}<br/>{{ city_crime.mugged_or_robbed|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Car Theft Worries</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.car_stolen|floatformat:2 }}<br/>{{ city_crime.car_stolen|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Item Theft from Car Worries</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.things_from_car|floatformat:2 }}<br/>{{ city_crime.things_from_car|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Physical Altercation/Attack Worries</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.worries_attack|floatformat:2 }}<br/>{{ city_crime.worries_attack|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Verbal Confrontation/Insult Worries</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.worries_insult|floatformat:2 }}<br/>{{ city_crime.worries_insult|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Racist Violence Worries</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.worries_racist|floatformat:2 }}<br/>{{ city_crime.worries_racist|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Drug Use/Dealing Worries</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.problem_drugs|floatformat:2 }}<br/>{{ city_crime.problem_drugs|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Vandalism/Property Crime Worries</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.property_crime|floatformat:2 }}<br/>{{ city_crime.property_crime|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Assault/Armed Robbery Worries</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.violent_crime|floatformat:2 }}<br/>{{ city_crime.violent_crime|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Corruption and Bribery Worries</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.corruption|floatformat:2 }}<br/>{{ city_crime.corruption|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="4">
                    <div class="title">Safety Concerns:</div>
                </td>
            </tr>
            <tr>
                <td>Safety Walking Alone During Daylight</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.safety_day|floatformat:2 }}<br/>{{ city_crime.safety_day|rating }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Safety Walking Alone During Night</td>
                {% for city_crime in cities_crime_rate %}
                    <td>
                        {{ city_crime.safety_night|floatformat:2 }}<br/>{{ city_crime.safety_night|rating }}
                    </td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}
    {% if user_info.food_option %}
        <h2 class="report">Food and Restaurant Report:</h2>
        <table id="food-option" class="table table-hover table-responsive">
            <tr>
                <th class="first-col"></th>
                {% for city_result in user_info.cities %}
                    <th>{{ city_result | city_name }}   </th>
                {% endfor %}
            </tr>
            <tr>
                <td>Restaurants per Square Mile</td>
                {% for city_food in cities_food_option %}
                    <td>
                        {{ city_food.restaurant_mile|floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Cuisine Diversity and Proximity Index (lower is better)</td>
                {% for city_food in cities_food_option %}
                    <td>
                        {{ city_food.diversity_score|floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Cuisines per Metro</td>
                {% for city_food in cities_food_option %}
                    <td>
                        {{ city_food.cuisine_per_metro|floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Dollars Spent Out vs. at Dollars Spent on Groceries</td>
                {% for city_food in cities_food_option %}
                    <td>
                        {{ city_food.dine_out_money|floatformat:2 }}
                    </td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}
{% endblock %}